* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.resp-container {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    padding: 15px;
}

header a, footer a {
    color: #cc6633;
    font-weight: 600;
}

nav li {
    list-style-type: none;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding-right: 40px;
}

.logo img {
    max-width: 50px;
    max-height: 50px;
}

.carousel-inner {
    max-height: 420px;
    max-width: 80%;
    margin: 0 auto;
}

.carousel-caption h1, .carousel-caption p, section h2 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;   
}

.carousel-caption {
    bottom: 95px;
}

.carousel-item img {
    max-height: 420px;
}


.carousel-control-prev {
    left: 75px;
}

.carousel-control-next {
    right: 75px;
}

.container p {
    text-align: left;
}

.container {
    position: relative;
    max-width: 250px;
    text-align: center;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    text-align: center;
}
.card p {
    text-align: left;
}

.featured-locales {
    margin-bottom: 50px;
}

.featured-locales h1 {
    text-align: center;
    margin-top: 70px;
    color: gray;
}

.locale-p {
    margin: 0 115px 50px 115px;
    color: gray;
}

.featured-locales-images {
    display: flex;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("https://i2.wp.com/www.localesquare.com/wp-content/uploads/2018/03/crafting-background.jpeg?fit=3200%2C2129&ssl=1");
    background-size: auto;
    background-position: 50% -921.737px;
    height: 250px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 50px;
}

h2 {
    color: #fff;
}

.btn-light {
    margin: 15px;
}

.btn-wrapper .btn {
    border: 1px solid;
    border-radius: 50px;
    color: #fff;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-left: 30px;
    padding: 0 20px;
    display: inline-block;
}

form a {
    margin-top: 10px;
}

footer {
    background: #f7f7f4;
    padding: 20px 40px 110px 40px;
    display: flex;
}

.footer-column {
    margin: 20px auto;
    width: 280px;
}

.footer-column h4 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.shop-local,
.about,
.contact,
.deals {
    display: flex;
    flex-direction: column;
}

.pdp {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 80%;
}

.product-image, .product-details {
    max-width: 50%;
    margin: 10px;
}

.prod-images {
    display: flex;
    flex-direction: column;
}

.pdp img {
    max-width: 500px;
    max-height: 400px;
}


.pdp h2 {
    color: #000;
}

.pdp p {
    margin-top: 25px;
}

@media screen and (max-width: 760px) {
    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }
    .main-nav {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .nav-link {
        border-bottom: 1px solid #000;
        width: 100%;
        padding: 3px;
    }
    header {
        padding: 10px 0 0 0;
    }
    .featured-locales-images {
        flex-direction: column;
        align-items: center;
    }

    .locale-p {
        margin: 0 80px 50px 80px;
        text-align: center;
    }
    .card {
        margin: 10px;
    }
    .carousel-inner {
        margin-top: 1px;
    }
    .container {
        margin: 10px auto;
    }
    .btn-wrapper .btn {
        margin: 10px;
    }
    section {
        padding: 10px 0 10px 0;
    }

    .pdp {
        flex-direction: column;
        margin: 0
    }

    .pdp img {
        max-width: 350px;
    }

    .product-image, .product-details {
        max-width: 90%;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .footer-column {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
}